<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user page</title>
    <style>
        .avatar {
            max-width: 100px;
        }
    </style>
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script>
        let log = function () {
            console.log(arguments);
        }
        var upload = function (file) {
            // 要用一个 formdata 对象来装 file
            var fd = new FormData();
            fd.append('file', file);

            log(fd);
            $.ajax({
                url: '/api/user/upload/avatar',
                method: 'post',
                // 上传文件的时候下面这两个选项一定要加上
                contentType: false,
                processData: false,
                data: fd,
                success: function (r) {
                    console.log('上传成功', file.name);
                },
                error: function () {
                    console.log('上传失败', file.name);
                }
            });
        };

        $(document).ready(function () {
            $('#id-button-upload').on('click', function () {
                var fileTag = $('.avatar-file-upload')[0];
                var file = fileTag.files[0];
                console.log('上传的文件: ', file.name);
                upload(file);
            });
        });
    </script>
</head>
<body>
<h3>用户资料</h3>
<p>{{ user.id }}</p>
<p>{{ user.username }}</p>
<p>
    <img src="/user/avatar/{{ user.avatar }}" alt="用户头像" class="avatar">
</p>
<div>
    <h3>上传头像</h3>
    <form enctype="multipart/form-data">
        <p>
            <input class="avatar-file-upload" type="file" name="avatar" required>
        </p>
        <button id="id-button-upload">上传</button>
    </form>
</div>
</body>
</html>