{% extends "../base.html" %}
{% block title %}Detail{% endblock %}

{% block main %}

    <div id='sidebar'>

        <div class='panel'>

            <div class='header'>
                <span class='col_fade'>个人信息</span>
            </div>
            <div class='inner'>
                <div class='user_card'>
                    <div>
                        <a class='user_avatar' href="/user/{{ topic.owner().username }}">
                            <img src="/user/avatar/{{ topic.owner().avatar }}?v=3&amp;s=120" title="{{ topic.owner().username }}"/>
                        </a>
                        <span class='user_name'><a class='dark' href="/user/{{ topic.owner().username }}">{{ topic.owner().username }}</a></span>

                        <div class='board clearfix'>
                            <div class='floor'>
                                <span class='big'>积分: 3990 </span>
                            </div>
                        </div>
                        <div class="space clearfix"></div>
                        <span class="signature">
                            “
                                {{ topic.owner().note }}
                            ”
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>作者其它话题</span>
            </div>
            <div class='inner'>

                <ul class='unstyled'>

                    <li>
                        <div><a class='dark topic_title' href="#"
                                title="[eggjs-feed-05] Node 8 LTS + Egg 2.x 计划">[eggjs-feed-05] Node 8 LTS + Egg 2.x
                            计划</a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>无人回复的话题</span>
            </div>
            <div class='inner'>

                <ul class='unstyled'>

                    <li>
                        <div><a class='dark topic_title' href="#"
                                title="求分析一个神奇的 HTTP 跳转">求分析一个神奇的 HTTP 跳转</a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

    </div>

    <div id="content">

        <div class='panel'>
            <div class='header topic_header'>
                <span class="topic_full_title">
                    {{ topic.title }}
                </span>
                <div class="changes">
                    <span>
                        发布于 {{ topic.created_time | formattedTime }}
                    </span>
                    <span>
                        作者
                        <a href="/user/{{ topic.owner().username }}">
                            {{ topic.owner().username }}
                        </a>
                    </span>
                    <span>
                        {{ topic.views }} 次浏览
                    </span>
                    <span>
                        来自 {{ topic.board().title }}
                    </span>
                </div>
            </div>

            <div class='inner topic'>
                <div class='topic_content'>
                    <div class="markdown-text">
                        {{ topic.content }}
                    </div>
                </div>
            </div>
        </div>

        <div class='panel'>
            <div class='header'>
            <span class='col_fade'>
                <!-- 过滤器 -->
                {{ topic.replies() | length }} 回复
            </span>
            </div>
            {% for r in topic.replies() %}
            <div class='cell reply_area reply_item'>
                <div class='author_content'>
                    <a href="/user/{{ r.user().username }}" class="user_avatar">
                        <img src="/user/avatar/{{ r.user().avatar }}?v=4&amp;s=120"
                             title="{{ r.user().username }}"/>
                    </a>
                    <div class='user_info'>
                        <a class='dark reply_author' href="/user/{{ r.user().username }}">
                            {{ r.user().username }}
                        </a>
                        <a class="reply_time">
                            {{ loop.index }}楼 • {{ r.created_time | formattedTimeAgo }}
                        </a>
                    </div>
                    <div class='user_action'>
                    <span>
                        <i class="fa up_btn
                          fa-thumbs-o-up" title="喜欢"></i>
                        <span class="up-count">
                            17
                        </span>
                    </span>
                    </div>
                </div>
                <div class='reply_content from-{{ r.user().username }}'>
                    <div class="markdown-text">
                        {{ r.content }}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>
                <form action="/reply/add" method="post">
                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                    <textarea name="content"></textarea>
                    <button>添加回复</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}