{% extends "../base.html" %}
{% block title %}Topic{% endblock %}

{% block main %}

    {{ super() }}

    <div id="content">

        <div class="panel">
            <div class="header" >
                {% if 'all' == board_id or '' == board_id %}
                {% set cls = 'current-tab' %}
                {% else %}
                {% set cls = '' %}
                {% endif %}
                <a href="/topic?board_id=all" class="topic-tab {{ cls }}">
                    全部
                </a>
                {% for b in boards %}
                {% if b.id == board_id %}
                {% set cls = 'current-tab' %}
                {% else %}
                {% set cls = '' %}
                {% endif %}
                <a href="/topic?board_id={{ b.id }}" class="topic-tab {{ cls }}">
                    {{ b.title }}
                </a>
                {% endfor %}
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% for t in topics %}
                    <div class="cell">
                        <a class="user_avatar pull-left" href="/user/{{ t.owner().username }}">
                            <img src="/user/avatar/{{ t.owner().avatar }}?v=4&amp;s=120"
                                 title="t.owner().username"
                            />
                        </a>

                        <span class="reply_count pull-left">
                            <span class="count_of_replies" title="回复数">
                             {{ t.replies() | length }}
                            </span>
                            <span class="count_seperator">/</span>
                            <span class="count_of_visits" title='点击数'>
                            {{ t.views }}
                            </span>
                        </span>

                        {% if t.lastReplyUser().avatar == undefined %}
                        {% set avatar = 'default.gif' %}
                        {% else %}
                        {% set avatar = t.lastReplyUser().avatar %}
                        {% endif %}

                        <a class='last_time pull-right' href="/user/{{ t.lastReplyUser().username }}">
                            <img class="user_small_avatar"
                                 src="/user/avatar/{{ avatar }}?v=4&amp;s=120"
                            />
                            <span class="last_active_time">
                                {{ t.last_reply_time | formattedTimeAgo }}
                            </span>
                        </a>

                        <div class="topic_title_wrapper">
                            <span class="topiclist-tab">{{ t.board().title }}</span>
                            <a class="topic_title" href="/topic/detail/{{ t.id }}">
                                {{ t.title }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}