{% extends "../base.html" %}
{% block title %}New Topic{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/lib/editor/editor.css" />
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css" />
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
{% endblock %}

{% block main %}
    <div id="content">
        <div class="panel">
            <div class="inner post">
                <form id="create_topic_form" method="post" action="/topic/add">
                    <fieldset>
                        <span class="tab-selector">选择版块：</span>
                        <select name="board_id" id="board" required>
                            <option value="">请选择</option>
                            {% for b in boards %}
                            <option value="{{ b.id }}">{{ b.title }}</option>
                            {% endfor %}
                        </select>
                        <textarea autofocus class='span9' id='title' name='title' rows='1' placeholder="标题字数 10 字以上"></textarea>
                        <div class='markdown_editor in_editor'>
                            <div class='markdown_in_editor'>
                                <textarea class='editor' name='content' rows='20' placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
                                <div class='editor_buttons'>
                                    <input type="submit" class='span-primary submit_btn' data-loading-text="提交中" value="提交">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        (function () {
            var editor = new Editor();
            editor.render($('.editor')[0]);
        })();
    </script>
{% endblock %}